.navbar-brand {
  margin-right: 20px;

  .navbar-item {
    display: flex;
    align-items: center;
  }
}
.navBar {
  justify-content: space-between;
}
.floatNav {
  display: flex;
  flex-flow: row nowrap;
  .navItem {
    width: fit-content;
  }
}
.navBar,
.navItens {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 56px;
  background-color: white;
  align-items: center;
}
.navItens {
  width: fit-content;
}
.navItem {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 250ms ease;
  svg {
    margin-right: 5px;
    path {
      fill: var(--dark);
    }
  }
  a {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: var(--dark);
    text-decoration: none;
  }
  a:hover {
    background-color: none;
  }
}
.navItem:hover {
  border-bottom: 2px solid blue;
  svg #icon {
    stroke: blue;
    fill: blue;
  }

  a {
    color: blue;
  }
}
.active {
  border-color: blue;
  svg #icon {
    stroke: blue;
    fill: blue;
  }

  a {
    color: blue;
  }
}


.photo-user{
  
  img{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
  }
}